<div class="card">
    <div class="card-body">
        <h1 class="card-title">Lista de Clientes</h1>
        <div class="mt-5">
            <div>
                <a href="customers/add">
                    <button class="btn btn-secondary float-end">+</button>
                </a>
                
                <div class="button-container float-end" style="display: none;">
        
                    <button class="btn btn-secondary btn-delete me-4" onclick="deleteSelectedCustomers()">Excluir</button>
                
                </div>
                      
            </div>
            <table class="table">
                <thead>
                    <tr>    
                        <th></th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">CPF</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {{#each customers}}
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedCustomers[]" value="{{id}}" onchange="toggleButtons()">
                        </td>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>{{cpf}}</td>
                        <td>
                            <a href="./customers/edit/{{id}}">
                                <button class="btn btn-secondary btn-edit">Editar</button>
                            </a>
                        </td>
                    </tr>    
                {{else}}
                    <tr>
                        <td colspan="4">Nenhum cliente registrado1</td>
                    </tr>    
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    function toggleButtons() {
        const checkboxes = document.getElementsByName('selectedCustomers[]');
        const buttonContainer = document.querySelector('.button-container');

        const selectedCustomers = [];
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedCustomers.push(checkboxes[i].value);
            }
        }

        if (buttonContainer) {
            if (selectedCustomers.length > 0) {
                buttonContainer.style.display = 'block';
            } else {
                buttonContainer.style.display = 'none';
            }
        }
    }

    function editSelectedCustomers() {
        const selectedCustomers = document.querySelector('.btn-edit');
        if (selectedCustomers.length > 0) {
            const editUrl = 'customers/edit/' + selectedCustomers[0];
            window.location.href = editUrl;
        }
    }

    function deleteSelectedCustomers() {
        const selectedCustomers = getSelectedCustomers();
        if (selectedCustomers.length > 0) {
            const deleteUrl = 'customers/delete/' + selectedCustomers[0];
            window.location.href = deleteUrl;
        }
    }

    function getSelectedCustomers() {
        const checkboxes = document.getElementsByName('selectedCustomers[]');
        const selectedCustomers = [];
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedCustomers.push(checkboxes[i].value);
            }
        }
        return selectedCustomers;
    }

</script>